<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dumka_Buh.Properties.Settings.DumkaConnectionString"
      connectionString="Data Source=hs;Initial Catalog=Dumka;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="Dumka_Buh.Properties.Settings.DumkaConnectionString1"
      connectionString="Data Source=MAGW10;Initial Catalog=Dumka;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>